<h1>Ajouter une recette</h1>

<form [formGroup]="recipeForm">
  <div>
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput type="text" name="name" formControlName="name" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        name="description"
        formControlName="description"
      ></textarea>
    </mat-form-field>
  </div>

  <div>
    <label>Image</label>
    <input
      type="file"
      name="image"
      formControlName="image"
      accept="image/png, image/jpeg, image/jpg"
      (change)="handleUpload($event)"
    />
  </div>

  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="addIngredientForm()"
  >
    Ajouter un ingrédient
  </button>

  <section>
    <h2>Ingrédients</h2>
    <table>
      <td>
        <app-ingredient-line-form (sendIngredient)="addIngredient($event)">
        </app-ingredient-line-form>
      </td>
    </table>
  </section>

  <div>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      (click)="submit()"
      [disabled]="recipeForm.invalid"
    >
      Ajouter une recette
    </button>
  </div>
</form>
