<mat-toolbar>
  <button class="navbar-name" mat-button [routerLink]="['']">
    Projet Angular
  </button>
  @if (isAdmin === true) {
  <button mat-button [routerLink]="['logout']">Logout</button>
  } @else {
  <button mat-button [routerLink]="['login']">Login</button>
  }
  <button mat-button [routerLink]="['ingredients']">Ingredient</button>
  <span class="spacer"></span>
  <a
    href="https://github.com/Caydo163/projet-angular-3a"
    target="_blank"
    mat-icon-button
    aria-label="Github link"
  >
    <mat-icon>link</mat-icon>
  </a>
</mat-toolbar>
