<mat-card class="recipe-card">
  <mat-card-header>
    <mat-card-title>{{ name }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="image ? image : 'https://placehold.co/50x50'"
    alt="Photo de la recette {{ name }}"
  />
  <mat-card-content>
    <p>
      {{ description | slice : 0 : 50
      }}{{ description && description.length > 50 ? "..." : "" }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-flat-button [routerLink]="['recipe', id]">Voir plus</a>
  </mat-card-actions>
</mat-card>
