<mat-form-field>
  <mat-label>Ingrédient</mat-label>
  <mat-select
    [(ngModel)]="selectedIngredient"
    name="food"
    (selectionChange)="onChange()"
    required="true"
  >
    <mat-option
      *ngFor="let ingredient of ingredients"
      [value]="ingredient.id"
      >{{ ingredient.name }}</mat-option
    >
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Quantité</mat-label>
  <input
    type="number"
    matInput
    [(ngModel)]="quantity"
    (change)="onChange()"
    min="1"
    required="true"
  />
</mat-form-field>

<button mat-mini-fab aria-label="Delete line" (click)="deleteLine()">
  <mat-icon>delete</mat-icon>
</button>
