<h1>{{ edit ? "Modifier" : "Ajouter" }} un ingredient</h1>

<form [formGroup]="ingredientForm">
  <section>
    <div>
      <mat-form-field class="form-field">
        <mat-label>Nom</mat-label>
        <input matInput type="text" name="name" formControlName="name" />
      </mat-form-field>
    </div>
  </section>

  <section>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      (click)="submit()"
      [disabled]="ingredientForm.invalid"
    >
      {{ edit ? "Modifier" : "Ajouter" }}
    </button>
    <button mat-flat-button [routerLink]="['/ingredients']">Retour</button>
  </section>
</form>
